extends layout

block content
  h1 #{title}: #{genre.name}

  if genre_books.length
    p #[strong Delete the following books before deleting this genre:]
      h4 Books:
      ul
        each book in genre_books
          li
            a(href=book.url) #{book.title}
            |  by #{book.author.name}

  else
    p Do you really want to delete this genre?

    form(method='POST' action='')
      .form-group
        input#genreid.form-control(
          type='hidden',
          name='genreId',
          required='true',
          value=genre._id,
        )

      button.btn.btn-primary(type='submit') Delete